:root {
  --results-columns: 2;
}

.ListOfAnimes {
  column-count: var(--results-columns);
  column-gap: .5em;
}

.ListOfAnimes-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: #eee;
  display: inline-block;
  width: 100%;
}


@media screen and (min-width: 37.5rem) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}
