:root {
  --results-columns: 4;
}

.ListOfAnimes {
  column-count: var(--results-columns);
  column-gap: .5em;
}


@media screen and (min-width: 37.5rem) {
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}
